/* tablet */
/* 768px - portrait */
@media(max-width: 48rem){

  body {
    font-size: 1.125rem; /* 18 / 16 */
    margin: 0;
  }

  div {
    max-width: 100%;
    padding: 0.5rem 0;
    margin: 0;
  }

  main {
    display: block;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}


/* mobile */
/* 416px */
@media(max-width: 26rem) {

  body {
    font-size: 1.25rem; /* 20 / 16 */
  }

  ul {
    display: block;
  }

}


/* tiny! mobile - Nokia 8110 4G */
/* 240px */
@media(max-width: 15rem) {

  h1 {
    font-size: 1.75rem;
  }

}
